.button {
    -fx-border-color: #222222;
    -fx-border-radius: 3;
    -fx-text-fill: white;
}

.button:hover, .button:pressed {
	-fx-border-color: #444444;
}

.button:selected {
    -fx-border-color: #ffffff;
}