root { 
    display: block;
}

.menu-bar, .list-view, .label, .button, .tab .tab-label, 
.combo-box > .list-cell, .text-input, .list-cell,
#label, #infoBar {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
}

#label, #infoBar {
    -fx-fill: white;
}

.list-cell:odd {
    -fx-cell-hover-color: #457894;
    -fx-background-color: #2a2a2a;
}

.list-cell:even {
    -fx-cell-hover-color: #457894;
    -fx-background-color: #222222;
}

.list-cell:focused, .list-cell:hover {
    -fx-background-color: #457894;
}

.root, .list-view, .scroll-pane, 
.titled-pane:focused, .tab-pane .tab, 
#propertyPane, #baseline, #root {
    -fx-background-color: #333333;
}

.button, .combo-box-base, .text-field, .titled-pane > .title, .menu-bar{
    -fx-background-color:
        #222222,
        #333333;
    -fx-background-insets: 0, 1;
}

.button:hover, .titled-pane:expanded > .title {
    -fx-background-color:
        #222222,
        #457894;
}

.button:pressed {
    -fx-background-color:
        #222222,
        derive(#457894,0.5);
}

.menu-bar, #baseline {
    -fx-background-color: #222222;
}
.menu-bar, .titled-pane > .title, #baseline {
    -fx-background-radius: 6;
}

.tab-pane .tab:selected {
    -fx-background-color: #457894;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab .tab-label, .titled-pane:focused,
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator, 
#label { 
    -fx-border-color: transparent;  
}

#drawingPane {
  -fx-background-color: transparent;
  -fx-opacity: 0;
}

#baseline {
  -fx-opacity: 1;
}

#recolour {
	-fx-color-label-visible: false;
}



